<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.ms.mapper.UserMapper">

    <select id="getUserById" parameterType="int" resultType="com.ms.entity.User">
        select * from [dbo].[User] where UserId= #{id}
    </select>
   
   <insert id="addUser" parameterType="com.ms.entity.User" useGeneratedKeys="true" keyProperty="userId">
         INSERT INTO [dbo].[User](UserName,UserAge,UserAddress,UserPassword,UserBirthday)
          VALUES(#{userName},#{userAge},#{userAddress},#{userPassword},#{userBirthday});
    </insert>
    
    <select id="getAllUser"  resultType="com.ms.entity.User">
        select * from [dbo].[User]
    </select>
    
</mapper>